#result_list tbody tr:focus {
  background-color: var(--selected-row, #ffc) !important;
  outline: 0px;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) .tree-node.children {
    background-image: url(disclosure-down-black.png);
  }
  html:not([data-theme="light"]) .tree-node.closed {
    background-image: url(disclosure-right-black.png);
  }
  html:not([data-theme="light"]) .drag-handle {
    background-image: url(arrow-move-black.png);
  }

  html:not([data-theme="light"]) #result_list tbody tr:focus {
    background-color: var(--selected-row, #d5e5ff) !important;
    outline: 0px;
  }
}
